@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    url("./fonts/Lobster Two Bold.woff2") format("woff2"),
    url("./fonts/Lobster Two Bold.woff") format("woff");
  font-family: "Lobster Two";
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("./fonts/Roboto Condensed Regular.woff2") format("woff2"),
    url("./fonts/Roboto Condensed Regular.woff") format("woff");
  font-family: "Roboto Condensed";
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src:
    url("./fonts/Roboto Condensed Medium.woff2") format("woff2"),
    url("./fonts/Roboto Condensed Medium.woff") format("woff");
  font-family: "Roboto Condensed";
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    url("./fonts/Roboto Condensed Bold.woff2") format("woff2"),
    url("./fonts/Roboto Condensed Bold.woff") format("woff");
  font-family: "Roboto Condensed";
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("./fonts/Stone Serif Regular.woff2") format("woff2"),
    url("./fonts/Stone Serif Regular.woff") format("woff");
  font-family: "Stone Serif";
  font-display: block;
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url("./fonts/Yu-Gi-Oh! Matrix Small Caps 2 Regular.woff2") format("woff2"),
    url("./fonts/Yu-Gi-Oh! Matrix Small Caps 2 Regular.woff") format("woff");
  font-family: "Yu-Gi-Oh! Matrix Small Caps 2";
  font-display: block;
}
